---
title: Broker RPC Reference

language_tabs: # must be one of https://git.io/vQNgJ
  - javascript
  - shell

toc_footers:
  - 

search: true
---

{{#files}}

# Introduction

{{{description}}}

{{#services}}

# {{name}}
{{{description}}}

{{#methods}}
## {{name}}
{{{description}}}

### {{#unary}}Unary{{/unary}}{{#duplexStreaming}}Duplex Streaming{{/duplexStreaming}}{{#requestStreamingOnly}}Request Streaming{{/requestStreamingOnly}}{{#responseStreamingOnly}}Response Streaming{{/responseStreamingOnly}} RPC
{{#unary}}Unary RPCs follow a simple request/response pattern familiar to users of HTTP APIs.{{/unary}}
{{#duplexStreaming}}Duplex Streaming RPCs allow for the client to stream data to the server and the server to stream data to thc client.{{/duplexStreaming}}
{{#requestStreamingOnly}}Request Streaming RPCs allow the client to stream data to the server, but the server responds with a single message.{{/requestStreamingOnly}}
{{#responseStreamingOnly}}Response Streaming RPCs take a single request message from the client, but the server responds with a stream of messages.{{/responseStreamingOnly}}

### Request Type: [{{requestFullType}}](#{{requestTypeId}}) {{#requestStreaming}}(Streaming){{/requestStreaming}}

{{#requestTypeEmbedded}}
{{{description}}}

{{#hasFields}}
| Parameter | Type | Description |
| --------- | ---- | ----------- |
{{#fields}}
| {{name}} | [{{type}}](#{{id}}) | {{{description}}} |
{{/fields}}
{{/hasFields}}
{{^hasFields}}
This message has no parameters.
{{/hasFields}}

{{#enums}}

### <a name="{{id}}">{{name}}</a>
{{{description}}}

| Name | Number | Description |
| ---- | ------ | ----------- |
{{#values}}
| {{name}} | {{number}} | {{{description}}} |
{{/values}}

{{/enums}}
{{#messages}}

### {{name}}
{{{description}}}

Used in: {{#usedBy}}{{^first}}, {{/first}}[{{name}}](#{{id}}){{/usedBy}}

{{#hasFields}}
| Parameter | Type | Description |
| --------- | ---- | ----------- |
{{#fields}}
| {{name}} | [{{type}}](#{{id}}) | {{{description}}} |
{{/fields}}
{{/hasFields}}
{{^hasFields}}
This message has no parameters.
{{/hasFields}}

{{#enums}}

### <a name="{{id}}">{{name}}</a>
{{{description}}}

Used in: {{#usedBy}}{{^first}}, {{/first}}[{{name}}](#{{id}}){{/usedBy}}

| Name | Number | Description |
| ---- | ------ | ----------- |
{{#values}}
| {{name}} | {{number}} | {{{description}}} |
{{/values}}

{{/enums}}

{{/messages}}
{{/requestTypeEmbedded}}

### Response Type: [{{responseFullType}}](#{{responseTypeId}}) {{#responseStreaming}}(Streaming){{/responseStreaming}}

{{#responseTypeEmbedded}}
{{{description}}}

{{#hasFields}}
| Parameter | Type | Description |
| --------- | ---- | ----------- |
{{#fields}}
| {{name}} | [{{type}}](#{{id}}) | {{{description}}} |
{{/fields}}
{{/hasFields}}
{{^hasFields}}
This message has no parameters.
{{/hasFields}}

{{#enums}}

### <a name="{{id}}">{{name}}</a>
{{{description}}}

Used in: {{#usedBy}}{{^first}}, {{/first}}[{{name}}](#{{id}}){{/usedBy}}

| Name | Number | Description |
| ---- | ------ | ----------- |
{{#values}}
| {{name}} | {{number}} | {{{description}}} |
{{/values}}

{{/enums}}
{{#messages}}

### {{name}}
{{{description}}}

Used in: {{#usedBy}}{{^first}}, {{/first}}[{{name}}](#{{id}}){{/usedBy}}

{{#hasFields}}
| Parameter | Type | Description |
| --------- | ---- | ----------- |
{{#fields}}
| {{name}} | [{{type}}](#{{id}}) | {{{description}}} |
{{/fields}}
{{/hasFields}}
{{^hasFields}}
This message has no parameters.
{{/hasFields}}

{{#enums}}

### <a name="{{id}}">{{name}}</a>
{{{description}}}

Used in: {{#usedBy}}{{^first}}, {{/first}}[{{name}}](#{{id}}){{/usedBy}}

| Name | Number | Description |
| ---- | ------ | ----------- |
{{#values}}
| {{name}} | {{number}} | {{{description}}} |
{{/values}}

{{/enums}}

{{/messages}}
{{/responseTypeEmbedded}}

{{/methods}}
{{/services}}

# Message Reference

{{#messages}}

## {{longName}}
{{{description}}}

Used in: {{#usedBy}}{{^first}}, {{/first}}[{{name}}](#{{id}}){{/usedBy}}

{{#hasFields}}
| Parameter | Type | Description |
| --------- | ---- | ----------- |
{{#fields}}
| {{name}} | [{{type}}](#{{id}}) | {{{description}}} |
{{/fields}}
{{/hasFields}}
{{^hasFields}}
This message has no parameters.
{{/hasFields}}

{{#enums}}

### <a name="{{id}}">{{name}}</a>
{{{description}}}

Used in: {{#usedBy}}{{^first}}, {{/first}}[{{name}}](#{{id}}){{/usedBy}}

| Name | Number | Description |
| ---- | ------ | ----------- |
{{#values}}
| {{name}} | {{number}} | {{{description}}} |
{{/values}}

{{/enums}}

{{#messages}}

### {{name}}
{{{description}}}

Used in: {{#usedBy}}{{^first}}, {{/first}}[{{name}}](#{{id}}){{/usedBy}}

{{#hasFields}}
| Parameter | Type | Description |
| --------- | ---- | ----------- |
{{#fields}}
| {{name}} | [{{type}}](#{{id}}) | {{{description}}} |
{{/fields}}
{{/hasFields}}
{{^hasFields}}
This message has no parameters.
{{/hasFields}}

{{#enums}}

### <a name="{{id}}">{{name}}</a>
{{{description}}}

Used in: {{#usedBy}}{{^first}}, {{/first}}[{{name}}](#{{id}}){{/usedBy}}

| Name | Number | Description |
| ---- | ------ | ----------- |
{{#values}}
| {{name}} | {{number}} | {{{description}}} |
{{/values}}

{{/enums}}

{{/messages}}

{{/messages}}

{{#enums}}

## {{longName}}
{{{description}}}

Used in: {{#usedBy}}{{^first}}, {{/first}}[{{name}}](#{{id}}){{/usedBy}}

| Name | Number | Description |
| ---- | ------ | ----------- |
{{#values}}
| {{name}} | {{number}} | {{{description}}} |
{{/values}}

{{/enums}}

{{/files}}

# Scalar Value Types

For more information, see the [proto3 reference](https://developers.google.com/protocol-buffers/docs/proto3#scalar).

| Type | Notes |
| ---- | ----- |
{{#scalarValueTypes}}
| <a name="{{id}}">{{protoType}}</a> | {{notes}} |
{{/scalarValueTypes}}
